<%- include("header") -%>


<div class="manual">

 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3yVZ0NOvPzbWeZAwHrWoFUXiPRpY6iY4crg&usqp=CAU" alt="">
  <h1>User Manual</h1>

  <p>Press + to add </p>
  <p>Tick checkbox if you want to delete</p>
  <p>Be careful while clicking, once deleted you cannot get it</p>
</div>
<%- include("footer") -%>
